* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sec1 {
  flex-basis: 240px;
}

.sec2 {
  flex: 1;
  background-color: #eee;
}

.sec3 {
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;
}

.sec1, .sec2, .sec3 {
  padding: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  flex: 0 0 250px;
  margin: .5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card-item p {
  padding: .5rem 1rem;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main {
  flex: 1;
}